.header {
  @extend %flexbox;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 111rem;
  margin-inline: auto;
  padding: 3.8rem 3.2rem 0;
  margin-block-end: 6.4rem;
}

@include respond-to($breakpoint-desktops) {
  .header {
    padding-inline: 0;
    padding-block-start: 6.4rem;
  }
}
