.header {
  @extend %flexbox;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 111rem;
  margin-inline: auto;
  padding: 3.8rem 3.2rem 0;
}

@include respond-to($breakpoint-tablets) {
  .header {
    padding: 6.4rem 3.2rem 0;
  }
}

@include respond-to($breakpoint-desktops) {
  .header {
    padding-inline: 0;
  }
}
