.hero {
  @extend %grid;
  row-gap: 2.7rem;
  color: $color-dark-blue;

  &__header {
    @extend %flexbox;
    align-items: flex-start;
    gap: 1.6rem;
    justify-self: start;
    order: 1;
    padding-inline: 3.2rem;
    margin-block-end: 9.4rem;
  }

  &__info {
    color: rgba($color: $color-dark-blue, $alpha: 0.5);
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;

    strong {
      display: inline-block;
      font-size: inherit;
      letter-spacing: 0.1rem;
      text-transform: inherit;
      background-color: $color-dark-blue;
      color: #fff;
      padding-inline: 1rem;
      padding-block: 0.4rem;
      border-radius: 1.25rem;
      margin-inline-end: 1.6rem;
      height: 2.5rem;
    }
  }

  &__title {
    font-size: 4rem;
    color: inherit;
  }

  &__description {
    font-family: "Barlow";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.44;
    color: rgba($color: $color-dark-blue, $alpha: 0.75);
    margin-block-end: 1.1rem;
  }

  &__buttons {
    @extend %flexbox;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;

    span {
      color: rgba($color: $color-dark-blue, $alpha: 0.5);
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 0.25rem;
    }
  }

  &__button {
    background-color: $color-dark-orange;
    color: #fff;
    width: 15.3rem;
    height: 4rem;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.093rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.7;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 40rem;
    column-gap: 5.2rem;

    &__header {
      order: 0;
      margin: 0;
      padding-inline-end: 0;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .hero {
    &__title {
      font-size: 5.2rem;
    }

    &__header {
      padding-inline-start: 6.4rem;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    &__title {
      font-size: 6.4rem;
      margin-block-end: 1.2rem;
    }

    &__header {
      padding: 0;
      margin-inline-start: auto;
      gap: 2rem;
      align-self: start;
      margin-block-start: 3.8rem;
      width: 53rem;
    }

    &__description {
      max-width: 29rem;
      margin-block-end: calc(6.4rem - 2rem);
    }

    &__buttons {
      gap: 2.4rem;

      span {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
      }
    }

    &__button {
      width: 18.4rem;
      height: 4.8rem;
      font-size: 1.6rem;
      letter-spacing: 0.107rem;
    }
  }
}
